<h1 class="title">Plantillas en Angular</h1>

<p>usuario works!</p>

<a [href]="web" [class.existe] = "redirigir" target="_blank">Ir a la web</a>

@if (redirigir) {
    <p>El enlace {{ web }} es válido</p>
} @else {
    <p>El enlace es invalido!</p>
}

<button class="btn btn-primary" (click)="cambiarDireccion()">Cambiar dirección</button>

<h3 class="sub-title">Marcas de Autos</h3>

<ul>
    @for (marca of marcaAutos; track marca.id;
        let indice = $index, contador = $count, par = $even, impar = $odd) {
        <li class="card">{{ marca.id }} - {{ marca.nombre }}</li>
    } @empty {
        <p class="message">La lista de autos está vacia!</p>
    }
</ul>

@switch (usuario.rol) {
    @case ('admin') {
        <app-ventas></app-ventas>
    }
    @case ('user') {
        <p>Eres un usuario normal</p>
    }
    @default {
        <p>Eres un invitado!</p>
    }
}

<h3>Mas cosas en las plantillas de Angular</h3>
<ng-container>
    <h4>Esto está en un contenedor de Angular</h4>
</ng-container>

@let pais = 'Bolivia';
@let saludo = 'Hola desde ' + pais;

{{ saludo }}


<!-- 
@defer {
    <app-producto></app-producto>
} @placeholder {
    <h1>Se esta cargando el componente de Producto</h1>
}
-->

<h3>Tuberias en Angular</h3>

{{ web | uppercase }}

{{ "El cielo está trillado, quien los desentrillará" | cambiarLetras: false}}