a {
    background-color: #000;
    color: #fff;
    padding: 8px;
}

.existe {
    background-color: green;
    color: #fff;
    padding: 8px;
}

h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

ul {
    display: flex;
}

.card {
    border: 1px solid #797979;
    border-radius: 3px;
    margin: 0 10px;
    padding: 15px;
}

.message {
    font-size: 1.5rem;
}