<h2 class="sub-title">Lista de transacciones</h2>

<button class="btn btn-primary" (click)="enviarSaludo()">Enviar saludo</button>

<div class="contenedor">
    @for (transaccion of transaccionesList; track transaccion.id) {
        <div class="card">
            <p>{{ transaccion.fecha | date:'dd/MM/yyyy'}} - {{ transaccion.descripcion }}</p>
            <p>Monto: {{ transaccion.monto }}</p>
            @if (transaccion.tipo === 'Ingreso') {
                <p>Tipo de transaccion: <span class="btn-simple-green">{{ transaccion.tipo }}</span></p>
            } @else {
                <p>Tipo de transaccion: <span class="btn-simple-red">{{ transaccion.tipo }}</span></p>
            }
        </div>
    }

    <input type="text" [(ngModel)]="descripcionTransaccion">

    <button class="btn btn-primary">Mostrar transacción</button>

    <p>Mi transacción es: {{ descripcionTransaccion }}</p>
</div>
