.title {
    color: #19b43f;
    font-family: serif;
}

h2 {
    margin-top: 0;
    text-align: center;
}

.card {
    border: 1px solid #4d4e4e;
    border-radius: 3px;
    width: 30%;
    padding: 10px;
    margin: 10px;
}