<h2>prestamos works!</h2>

<a [href]="enlaceWeb" [class.activo] = "estadoEnlace" target="_blank">{{(estadoEnlace) ? 'Ir a la web' : 'Enlace desactivado'}}</a>

@if(estadoEnlace) {
    <p>¡El enlace funciona correctamente!</p>
    <button class="btn btn-success" (click)="cambiarEstadoEnlace()">Desactivar enlace</button>
} @else {
    <p>Lo sentimos, este enlace no está disponible.</p>
    <button class="btn btn-default" (click)="cambiarEstadoEnlace()">Activar enlace</button>
}

<hr>

<h4 class="sub-title">Nuevo Prestamo</h4>
<div class="formulario-container">
    <form (ngSubmit)="addPrestamo()">
        <input type="number" [(ngModel)]="nuevoMonto" placeholder="Monto" name="montoInput">
        <select class="input" [(ngModel)]="nuevoEstado" name="estadoSelect">
            <option value="Aprobado">Aprobado</option>
            <option value="Pendiente">Pendiente</option>
        </select>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>

<h4 class="sub-title">Lista de prestamos</h4>

<ul>
    @for (prestamo of prestamosList; track prestamo.id; let indice = $index) {
        <li>
            Monto: {{ prestamo.monto | currency}} - <span [class]="(prestamo.estado == 'Aprobado')? 'aprobado': 'pendiente'">{{ prestamo.estado }}</span>
            <button (click)="deletePrestamo(indice)">Delete</button>
        </li>
    } @empty {
        <p class="message" [ngStyle]="{'color': orange}">No existen prestamos!</p>
    }
</ul>

@switch (prestamo.tipo) {
    @case ('personal') {
        <p>El préstamo es de tipo personal</p>
    }
    @case ('hipotecario') {
        <app-transacciones></app-transacciones>
    }
    @case ('vehicular') {
        <p>El préstamo es para la compra de un vehiculo!</p>
    }
    @default {
        <p>Tipo de prestamo no reconocido!</p>
    }
}

<h3>Ocupando nuestra primera Pipe creada</h3>
<p>Transformamos cada letra de la frase "<strong>{{ frase }}</strong>" en su respectivo código ASCII</p>

{{ frase | convertirASCII }}
