a {
    background-color: orange;
    color: #000;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.activo {
    background-color: blue;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

li {
    margin-bottom: 8px;
}

.formulario-container {
    width: 400px; 
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.message {
    text-align: center;
}