a {
    background-color: orange;
    color: #000;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.activo {
    background-color: blue;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

li {
    margin-bottom: 8px;
}

.aprobado {
    background-color: green;
    border-radius: 20px;
    padding: 2px 8px;
    color: #fff;
}

.pendiente {
    background-color: orange;
    border-radius: 20px;
    padding: 2px 8px;
}