/* -------------------------------------- */
/* Estilos Globales y Layout Principal */
/* -------------------------------------- */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    background-color: #f4f5f7; /* Fondo del área de contenido principal */
}

.activarLink {
    color: #1a73e8;
    background-color: #e8f0fe;
    font-weight: 600;
    border-right: 4px solid #1a73e8;
}

ol {
    list-style: none;
}

.title {
    border-bottom: 1px solid #bbbbbb;
    text-align: center;
    padding: 8px;
}

.sub-title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

.btn {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}
.btn-primary {
    background-color: #0d6efd;
    color: #ffffff;
}

.btn-success {
    background-color: #198754;
    color: #ffffff;
}

.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
}

.input, input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #575757;
    margin-right: 5px;
}

.message {
    font-size: 1.5rem;
}

.btn-simple-green {
    background-color: green;
    border-radius: 20px;
    padding: 2px 8px;
    color: #fff;
}

.pendiente {
    background-color: orange;
    border-radius: 20px;
    padding: 2px 8px;
}

.btn-simple-red {
    background-color: red;
    color: #fff;
    border-radius: 20px;
    padding: 2px 8px;
}