li {
    list-style: none;
}

.title {
    border-bottom: 1px solid #bbbbbb;
    text-align: center;
    padding: 8px;
}

.sub-title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

.btn {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}
.btn-primary {
    background-color: #0d6efd;
    color: #ffffff;
}

.btn-success {
    background-color: #198754;
    color: #ffffff;
}

.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
}

.message {
    font-size: 1.5rem;
}