<h2>{{ titulo }}</h2>

<label for="">Elige un color: </label>
<input type="color" [(ngModel)]="color">

<ol>
    @for(pelicula of peliculas; track pelicula.id; let indice = $index) {
        <li>
            {{ pelicula.titulo }} - <span [ngStyle]="{'background-color': color}">{{ pelicula.genero }}</span> | {{ pelicula.plataforma }}
            <button (click)="deleteMovie(indice)">🚮</button>
        </li>
        
    }
</ol>

<h2>Formulario | Tho-Way Binding</h2>
<input type="text" [(ngModel)]="mi_pelicula" (focus)="haciendoFoco()" (blur)="salirDelFoco()" (keyup)="pulsarTecla($event)"/>

<button class="btn btn-primary" (click)="showMovie()">Mostrar pelicula</button>
<button class="btn btn-success" (click)="addMovie()">Añadir pelicula</button>

<p>
   Mi pelicula es: <strong>{{ mi_pelicula }}</strong>
</p>

<h2>Mis titulos</h2>
<ul>
    @for (titulo of tituloPeliculas; track $index) {
        <li>{{ titulo }}</li>
    }
</ul>